---
import { Image } from 'astro:assets';

import AboutImage from '@/assets/about.jpg';
import { about } from '@/config/about';
import Layout from '@/layouts/layout.astro';
import PageHeader from '@/layouts/page-header.astro';

const { title, description, contents } = about;
---

<Layout title="Lucas Aguiar - Sobre">
  <PageHeader title={[title]} description={description} />

  <div class="mb-10 mt-16 flex flex-col gap-4">
    <Image
      alt="Lucas"
      src={AboutImage}
      width="1200"
      height="1200"
      class="aspect-video max-h-96 w-full rounded-md object-cover transition-all duration-300 hover:scale-105"
    />

    {contents.map((content, index) => <p>{content}</p>)}
  </div>
</Layout>
