---
import { cn } from '@/lib/utils';
import { buttonVariants } from './ui/button';

interface Props {
  path: string;
  isExternal?: boolean;
  isSelect?: boolean;
}
const { path, isExternal, isSelect } = Astro.props;
---

<a
  href={path}
  target={isExternal ? '_blank' : undefined}
  rel={isExternal ? 'noreferrer' : undefined}
  class={cn(
    buttonVariants({ variant: isSelect ? 'outline' : 'ghost' }),
    'flex w-full items-center justify-start gap-2 transition-colors hover:text-foreground/80',
  )}
>
  <slot />
</a>
