---
import { Image } from 'astro:assets';

interface Props {
  name: string;
  image: string;
}

const { image, name } = Astro.props;
---

<div class="rounded-full overflow-hidden h-10 w-10">
  <Image class="object-cover" src={image} alt={name} width="100" height="100" />
</div>
