---
import ProjectCard from '@/components/project-card.astro';
import { projects } from '@/config/projects';
import Layout from '@/layouts/layout.astro';
import PageHeader from '@/layouts/page-header.astro';

const { title, description, projects: allProjects } = projects;
---

<Layout title="Lucas Aguiar - Projetos">
  <PageHeader title={[title]} description={description} />

  <div class="mb-10 mt-16 flex flex-col gap-4">
    {allProjects.map(project => <ProjectCard {...project} />)}
  </div>
</Layout>
